body{
    background-color: #d8dfbe;
  }
  
  h1 {
    color: #5c6244;
    text-align: left;
  }

  p {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    color: #1b1913;
    text-decoration: none;
  }

  h2 {
    text-align: left;
    color: #5c6244;
    font-size: 88px;
  }

  header{
    text-align: right;
  }

  nav a {
    background-color: #fff9f2;
    color: #5c6244;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 nav a:hover{
    background-color: #5c6244;
    color: #fff9f2;
  }
  #valittu{
    background-color: #5c6244;
    color: #fff9f2;

  footer{
      flex-direction: row;
      text-align: left;
      position: sticky;
      bottom: 0;
      width: 100%;
      max-height: 15%;
      background-color: #fff9f2;
      font-size: 15px;
      display: flex;
      justify-content: space-around;
  }