body{
    background-color:#fff9f2;
  }
  
  h1 {
    color: #5c6244;
    text-align: center;
  }
  h2 {
    text-align: center;

  }

  h3{
    text-align: center;

  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }
  nav a {
    background-color: #fff9f2;
    color: #5c6244;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 nav a:hover{
    background-color: #5c6244;
  }
  #valittu{
    background-color: #d8dfbe;
    color: #fff9f2;

  }